@import url('https://fonts.googleapis.com/css?family=Lato:300');
body {
    background: white;
    font-family: Lato, sans-serif;
    text-align: center;
}

.main {
    padding-top: 20px;
}

ul.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.nav_buttons {
    position: absolute;
    bottom: 30px;
}

.text {
    margin: auto;
    margin-top: 5%;
    width: 75%;
    font-size: 16px;
    text-align: left;
}

.content-bottom {
    float: center;
    margin-top: 8%;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.content-left {
    float: left;
    margin-left: 12px;
    margin-right: 50px;
    width: 50%;
}

.content-left img {
    float: right;
}

.content-left img {
    height: 400px;
    width: auto;
    top: 100px;
}

.content-right {
    overflow: hidden;
    margin-left: 24px;
}

.link_box {
    text-align: left;
    float: left;
    font-size: 20px;
}

.link_box:hover {
    cursor: pointer;
}

.contact-info {
    text-align: left;
    float: left;
    clear: left;
}

ul {
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
    float: center;
    font-size: 16px;
}

.resume-container {
    margin: auto;
    width: 65%;
    text-align: center;
}

.subsection-content {
    /*float:center;*/
    width: 100%;
}

.updated {
    margin: auto;
    padding-top: 30px;
    width: 50%;
    bottom: 0;
}