.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: #eee;
    padding: 10px;
}

li:hover {
    background-color: #ddd;
}

li a {
    color: black;
    text-decoration: none;
}

/* Main content */
.main {
    clear: both;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}